<!DOCTYPE html>
<html>
<head>
    <style>
    .responsive {
        width: 100%;
        height: auto;
        }
    img {
      border-radius: 50%;
    }
    .card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 20%;
        border-radius: 5px;
        }

    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }

    .container {
        padding: 2px 16px;
        }
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        width: 50%;
        }
    </style>
    </head>
<body>

<h1>OSINT</h1>
{%  for x in content %}
    {% if x %}
        <h3>{{x}}</h3>
    {%  elif x  == [] %}
        <p> Names not Found</p>
    {%  endif %}
{% endfor %}
<h1>APP DATA</h1>
{% if vk %}
    <div class="card">
        <img src="{{vk[1]}}" alt="Avatar" style="width:200px" class="center" >
        <div class="container">
        <h4 class="center"><b>{{vk[0]}}</b></h4>
        <p class="center">Student (Master's)</p>
        </div>
    </div>
    
{%  endif   %}



<!-- {%  for data in vk  %}
    {%  if data %}
        <h4>{{data}}</h4>
    {%  endif %}
{%  endfor  %} -->
</body>
</html>


<!-- <!DOCTYPE html>
<html>
<body>

<h1>Home Page</h1>
<p> {{content}}</p>
{%  for x in range(0,10) %}
    {% if x % 2 ==1 %}
        <p>{{x}}</p>
    {%  endif %}
{% endfor %}

</body>
</html> -->